@model ode2Food.Models.Resturant

<h1>Create</h1>

<div>
    <form action="Create" method="post">

        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="CusineType"></label>
            <select asp-for="CusineType" asp-items="@Html.GetEnumSelectList<ode2Food.Models.Cusine>()"></select>
        </div>
        <input type="submit" value="Save" name="Save" />
    </form>
</div>

