@model Resturant
@{
    ViewBag.Title = Model.Name;
}


<h1>Details</h1>

<a asp-action="Index" asp-controller="Home"> <strong>Go Back</strong> </a>
<h1>@Model.Name</h1>
<div>
    <h2> ID is @Model.Id </h2>
    <h3> Cusine Type : @Model.CusineType </h3>
    <p> Address : @Model.Address </p>
</div>
