@model ode2Food.ViewModels.HomeIndexViewModel

<html>
<head>
    <title>
        OdeToFood!
    </title>
</head>

<body>
    <h1>@Model.Greeter</h1>
    @foreach (var m in Model.Resturants)
    {
        <h1>@m.Name is @m.Id</h1>

    }
</body>
</html>