@model IEnumerable<ode2Food.Models.Resturant>

<html>
<head>
    <title>
        OdeToFood!
    </title>
</head>

<body>
    @foreach (var m in Model)
    {
        <h1>@m.Name is @m.Id</h1>

    }
</body>
</html>