@page

@*@inject IGreeter Greeter
    using inject method may cause some security verneablity
    thus we use model insted of inject
*@ 

@model GreetingModel

<div>Hello World!</div>
<string> @Model.CurrentGreeting </string>